.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(244, 110, 20);
    color: white;
    padding: 20px;
}
h1{
    font-size: larger;
    margin-left: 40px;
}
.routes a{
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
    
}

.nav img{
    margin-left: 40px;
}

.routes{
    margin-right: 50px;
}